@import url(http://fonts.googleapis.com/css?family=Leckerli+One|Patua+One);

html, body {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.header {
    width: 100%;
	text-align: center;
    background-color: #D5896F;
    flex: 1 1 320px;

    .logo {
        margin: auto;
        margin-top: 80px;
        overflow: hidden;
        display: inline-block;

        .food {
            height: 80px;
            width: 80px;
            background-image: url('../images/food/hamburger-emoji.png');
            background-size: contain;
            display: inline-block;
    }
        .less {
            height: 80px;
            width: 80px;
            background-image: url('../images/less-than.png');
            background-size: contain;
            display: inline-block;
            overflow: hidden;
        }

    }

    .title{

        font-family: 'Leckerli One', cursive;
        h1 {
            font-size: 70px;
            margin-bottom: 0;
        }
        span {
            font-size: 20px;
        }
    }
}

.description {
    width: 80%;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    
    .topic {
        margin-top: 20px;
        h1 {
            font-family: 'Patua One', cursive;
            margin-bottom: 0;
        }
        span {
            font-weight: normal;
            font-size: 20px;
        }

    }
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
