@import url(http://fonts.googleapis.com/css?family=Leckerli+One|Cabin);
html,
body {
  width: 100%;
  height: 100%;
}
.container {
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
}
.header {
  width: 100%;
  text-align: center;
  background-color: #D5896F;
  -webkit-flex: 1 1 400px;
          flex: 1 1 400px;
}
.header .logo {
  margin: auto;
  margin-top: 100px;
  overflow: hidden;
  display: inline-block;
}
.header .logo .food {
  height: 80px;
  width: 80px;
  background-image: url('../images/food/hamburger-emoji.png');
  background-size: contain;
  display: inline-block;
}
.header .logo .less {
  height: 80px;
  width: 80px;
  background-image: url('../images/less-than.png');
  background-size: contain;
  display: inline-block;
  overflow: hidden;
}
.header .title {
  font-family: 'Leckerli One', cursive;
}
.header .title h1 {
  font-size: 100px;
  margin-bottom: 0;
}
.header .title span {
  font-size: 40px;
}
.description {
  width: 80%;
  background-color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
}
.description .topic {
  margin-top: 20px;
}
.description .topic h1 {
  font-family: 'Cabin', sans-serif;
  margin-bottom: 0;
}
.description .topic span {
  font-family: 'Cabin', sans-serif;
  font-weight: normal;
  font-size: 30px;
}
.description .topic .show-dont-tell {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
}
.description .topic .show-dont-tell .step {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-flex: 1 1 200px;
          flex: 1 1 200px;
  margin-top: 30px;
}
.description .topic .show-dont-tell .step .image {
  -webkit-flex: 0 1 200px;
          flex: 0 1 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.description .topic .show-dont-tell .step .step-desc {
  -webkit-flex: 1 1 auto;
          flex: 1 1 auto;
  vertical-align: center;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 200px;
  vertical-align: middle;
  display: inline-block;
}
.description .topic .show-dont-tell .step .step-desc .step-count {
  margin-left: 30px;
  font-family: 'Leckerli One', cursive;
  font-size: 40px;
  margin-right: 10px;
}
.description .topic .show-dont-tell .step .step-desc span {
  font-family: 'Cabin', sans-serif;
  font-size: 40px;
}
.description .topic .show-dont-tell .step .cooking {
  background-image: url('../images/cooking-emoji.png');
}
.description .topic .show-dont-tell .step .sweat {
  background-image: url('../images/sweat-emoji.png');
  background-size: 75%;
}
.description .topic .show-dont-tell .step .computer {
  background-image: url('../images/computer-emoji.png');
}
.description .topic .show-dont-tell .step .envelope {
  background-image: url('../images/envelope-emoji.png');
}
.description .topic .show-dont-tell .step .phone {
  background-image: url('../images/phone-emoji.png');
}
.description .topic .show-dont-tell .step .meetup {
  background-image: url('../images/meetup-emoji.png');
}
.description .topic .show-dont-tell .step .awesome {
  background-image: url('../images/awesome-emoji.png');
  background-size: 75%;
}
.form {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 80%;
  background-color: #04395E;
  color: #FFFFFF;
  z-index: 1;
  height: 930px;
}
.form h1 {
  padding-top: 20px;
  font-family: 'Leckerli One', cursive;
  font-size: 60px;
  text-align: center;
}
.form .form-group {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Cabin', sans-serif;
  font-size: 40px;
}
.form .form-group input {
  width: 100%;
  color: #000000;
  height: 50px;
}
.form button {
  width: 40%;
  color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Leckerli One', cursive;
  font-size: 40px;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
}
.footer {
  background-color: #DAB785;
  height: 200px;
}
.footer span {
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-family: 'Cabin', sans-serif;
  color: #FFFFFF;
  font-size: 30px;
}
/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Larger than mobile */
/* Larger than phablet (also point when grid becomes active) */
/* Larger than tablet */
/* Larger than desktop */
/* Larger than Desktop HD */
